{
  "extends": [ "@martin-kolarik/eslint-config/typescript" ],
  "overrides": [ {
    "files": [ "tsconfig.json" ],
    "rules": {
      "jsonc/no-comments": "off"
    }
  }
  ],
  "ignorePatterns": [
    "dist/**"
  ]
}