<link rel="stylesheet" href="/styles/form.css">
<div class="form-center">
  <h2>New List</h2>
  <form action="/save-entry" method="POST">
    <label for="date">Date</label>
    <br>
    <input name="date" type="date" id="date" required>
    <br><br>
    <label for="list">List</label>
    <br>
    <textarea name="list" id="list" required></textarea>
    <br>
    <button>Submit</button>
  </form>
</div>
<footer>
  <p>
    Pavel Kopecký 2023
  </p>
</footer>