<div class="form-center">
  <h2>Hello, {{username}}</h2>
  <form action="/logout" method="post">
    <button>Logout</button>
    <button>Start</button>
    <hr>
  </form>
</div>
<footer>
  <p>
    Pavel Kopecký 2023
  </p>
</footer>