<link rel="stylesheet" href="/styles/index.css">
<div class="form-center">
  <h2>{{user.name}}'s shopping list</h2>
  <form action="/show-entry" method="post">
    <ul>
      {{#each user.shoppingList}}
        <li>
          <button class="entry-btn" name="bttn" type="submit" value={{this.date}}>{{this.date}}</button>
        </li>
      {{/each}}
    </ul>
  </form>
  <form action="/add-entry" method="post">
    <button class="add-btn">+</button>
  </form>
  <hr>
  <form action="/logout" method="post">
    <button class="logout">Logout</button>
  </form>
</div>
<footer>
  <p>
    Pavel Kopecký 2023
  </p>
</footer>