ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 0;
    padding-top: -3px;
}
.form-center {
    padding-bottom: 80px;
}
.buttons form {
    float: left;
    clear: right;
}
.buttons {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: -50px;
}
.prev-form {
    margin-left: -28px;
}
.back-form {
    margin: 0 60px;
}
.next-form {
    margin-right: -28px;
}
.prev-btn {
    padding: 10px;
}
.next-btn {
    padding: 10px;
}
.back-btn {
    padding: 10px 20px;
}